body {
    background-color: #1859BA;
}
#App{
    margin: auto;
    width: 100%;
    padding-top:10%;
}

#request-container {
    display:grid;
    grid-template-columns: auto auto;
    width: 80%;
    margin: auto;
}
#request {
    grid-column-start: 2;
    width: 100%;
    padding: 10px;
    
}

#image {
    grid-column-start: 1;
    grid-row-start: 1;
    position: relative;
    margin: auto;
}
.fade-enter {
    opacity: 0;
    z-index: 1;
}
.fade-enter-active {
    opacity: 1;
    transition: opacity 1000ms linear 1000ms;
}
.fade-exit {
    opacity: 1;
}
.fade-exit-active {
    opacity: 0;
    transition: opacity 1000ms linear;
}
